@require 'constants.styl'
@require 'fonts.styl'
@require 'buttons.styl'
@require 'utils.styl'

block(colorBorder=colorBorder)
    display block
    padding 35px
    border colorBorder 2px solid
    border-radius borderRadiusXL
    header
        font-large()
    section
        font-medium()
block-bg(colorBg=colorBg)
    display block
    background colorBg

input()
    margin 0
    padding 5px 10px
    backdrop-filter blur(8px)
    background mix(#333, transparent)
    border 1px solid #66666660
    border-radius borderRadiusS
    color colorText2
    trans()
    &:focus
        border-color colorBg
        color colorText1
    &::placeholder
        color colorText4
